{% set order = __SELF__.order %}
{% if order %}
	<div class="panel panel-danger">
		<div class="panel-heading">
			<span class="badge">{{ order.trans('status') }}</span>
			<span class="badge">{{ order.trans('payment') }}</span>
			<b>№ {{ order.id }} от {{ order.created_at|date('d.m.Y') }}</b>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
				<tr><th>Наименование</th><th>Колличество</th><th>Цена</th><th>Сумма</th></tr>
				</thead>
				<tbody>
				{% for variant in order.rbin_shop_ordered_variants %}
					<tr><td>{{ variant.title }}</td><td>{{ variant.amount }}</td><td>{{ 'rbin.shop::lang.forms.cent'|trans|format(variant.cost|number_format(2, 'rbin.shop::lang.forms.currency'|trans, '&nbsp;'))|raw }}</td><td>{{ 'rbin.shop::lang.forms.cent'|trans|format((variant.amount*variant.cost)|number_format(2, 'rbin.shop::lang.forms.currency'|trans, '&nbsp;'))|raw }}</td></tr>
				{% endfor %}
				</tbody>
				<tfoot>
				<tr><th colspan="3" class="text-right">Всего</th><td>{{ 'rbin.shop::lang.forms.cent'|trans|format(order.total_cost|number_format(2, 'rbin.shop::lang.forms.currency'|trans, '&nbsp;'))|raw }}</td></tr>
				</tfoot>
			</table>
		</div>
		{% if order.rbin_shop_order_files is not empty %}
			<div class="panel-body text-danger"><b>{{ 'rbin.shop::lang.orders.documents'|trans }}:</b></div>
			<div class="list-group">
				{% for file in order.rbin_shop_order_files %}
					<a class="list-group-item" href="{{ file.path }}" target="_blank"><i class="fa fa-link"></i> {{ file.title }} <small class="badge">{{ file.file_name }}</small></a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% else %}
	{{ 'rbin.shop::lang.forms.empty'|trans }}
{% endif %}